<% if @winner == 'draw' %>
  <h3>You both chose <%= @weapon %>.</h3>
<% else %>
  <h3> <%= @player %> chose <%= @weapon %>. The computer chose <%= @computer %></h3>
  <h4> <%= @winner %> wins!</h4>
<% end %>

<section>
  <a id='play_again' href="/game">Play Again!</a>
</section>
